.w {
    width: 1000px;
    margin: 0 auto;
}


/* header头部部分 */

.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(218, 220, 224);
    /* border: 1px solid red; */
}

.header .header_logo {
    margin-top: 11px;
    float: left;
}

.header .header_logo img {
    width: 150px;
}

.header .header_logo:hover {
    cursor: pointer;
    animation: header_logo 1s linear infinite;
}

@keyframes header_logo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.header ul {
    margin-left: 100px;
    float: left;
}

.header ul li {
    float: left;
    margin-right: 60px;
}

.header ul li a {
    font-size: 20px;
    line-height: 80px;
}

.header ul .header-color a {
    color: #fe5341;
}

.header .header_right {
    float: right;
}

.header .header_right .header_search {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 25px;
    margin-right: 30px;
}

.header .header_right .header_search:hover {
    animation: header_search .1s linear forwards;
}

@keyframes header_search {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.header .header_right .header_button {
    float: left;
    width: 50px;
    height: 25px;
    margin-top: 25px;
    border: 1px solid #fe5341;
    text-align: center;
}

.header .header_right .header_button a {
    line-height: 25px;
    font-size: 14px;
    color: #fe5341;
}

.header .header_right .header_button:hover {
    background-color: #fe5341;
}

.header .header_right .header_button a:hover {
    color: #fff;
}


/* 底部footer */

.footer {
    height: 360px;
    background-color: #505050;
    overflow: hidden;
}

.footer .footer_last {
    margin-top: 40px;
}

.footer .footer_logo {
    float: left;
}

.footer_a {
    float: left;
    width: 130px;
    height: 130px;
    border-radius: 5px;
}

.footer_b {
    float: left;
    margin-left: 20px;
}

.footer_b img {
    width: 100px;
}

.footer_b p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #aaa8a9;
}

.footer_bottom {
    float: left;
}

.footer_bottom dl {
    float: left;
    margin-left: 25px;
}

.footer_bottom dl dt {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer_bottom dl dd {
    margin-top: 5px;
}

.footer_bottom dl dd a {
    font-size: 14px;
    color: #aaa8a9;
}

.footer_bottom dl:nth-child(2) {
    width: 165px;
}

.footer_bottom dl:nth-child(2) dd {
    float: left;
}

.bottom dd:nth-of-type(n+1) {
    width: 80px;
}

.footer_bottom dl dd a:hover {
    color: #fe5341;
}

.end {
    width: 1000px;
    height: 20px;
    float: left;
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #aaa8a9;
}


/* return部分 */

.return {
    position: fixed;
    bottom: 100px;
    right: 140px;
    width: 50px;
    height: 30px;
    padding: 6px 7px;
    background-color: #e8e8e8;
}